.swiper {
  min-width: 95vw;
  height: 40vh;
  overflow: hidden;
}
.swiper .swiper-slide {
  padding: 0% 6%;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -webkit-grab;
}
.swiper .swiper-slide:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.swiper img {
  max-height: 80%;
}
.swiper p {
  max-width: 50%;
}

.mobile-swiper {
  display: none;
}

.description_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}
.description_section h2 {
  color: white;
  background-color: rgb(9, 48, 121);
  text-align: center;
  width: 100vw;
  margin: 2.5vh 0px;
  padding: 5pt;
}
.description_section p {
  max-width: 60vw;
  font-size: 1.5rem;
}

.services_section {
  height: 450px;
  margin-bottom: 3vh;
}
.services_section .section_inner {
  position: relative;
  display: flex;
  justify-content: center;
}
.services_section .section_inner .service_left, .services_section .section_inner .service_mid, .services_section .section_inner .service_right {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: min-width 0.2s;
}
.services_section .section_inner .service_left a, .services_section .section_inner .service_mid a, .services_section .section_inner .service_right a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services_section .section_inner .service_left img, .services_section .section_inner .service_mid img, .services_section .section_inner .service_right img {
  max-height: 400px;
  aspect-ratio: 1.5/1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.2s, aspect-ratio 0.2s, transform 0.2s, box-shadow 0.2s;
  border-radius: 25px;
  box-shadow: 0px 0px 2px black;
}
.services_section .section_inner .service_left p, .services_section .section_inner .service_mid p, .services_section .section_inner .service_right p {
  position: absolute;
  z-index: 10;
  color: rgba(255, 255, 255, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  transition: color 0.4s;
}
.services_section .section_inner .service_left:hover, .services_section .section_inner .service_mid:hover, .services_section .section_inner .service_right:hover {
  cursor: pointer;
}
.services_section .section_inner .service_left:hover img, .services_section .section_inner .service_mid:hover img, .services_section .section_inner .service_right:hover img {
  aspect-ratio: 16/9;
  transform: scale(1.02);
  filter: brightness(60%);
  box-shadow: 0px 0px 10px black;
}
.services_section .section_inner .service_left:hover p, .services_section .section_inner .service_mid:hover p, .services_section .section_inner .service_right:hover p {
  color: white;
}
.services_section .section_inner .service_left {
  transform: translateX(-75%);
  transition: transform 0.2s;
}
.services_section .section_inner .service_left:hover {
  transform: translateX(-50%);
  z-index: 2;
}
.services_section .section_inner .service_mid {
  z-index: 1;
}
.services_section .section_inner .service_right {
  transform: translateX(75%);
  transition: transform 0.2s;
}
.services_section .section_inner .service_right:hover {
  transform: translateX(50%);
  z-index: 2;
}

@media (orientation: portrait) {
  .services_section {
    display: none;
  }
  .swiper {
    height: auto;
    margin-top: 2.5vh;
  }
  .swiper img {
    max-width: 35vw;
  }
  .mobile-swiper {
    display: flex;
    overflow: hidden;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .mobile-swiper .swiper-slide {
    overflow-x: hidden;
  }
  .mobile-swiper .swiper-slide a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-swiper .swiper-slide a p {
    position: absolute;
    z-index: 10;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6rem;
  }
  .mobile-swiper .swiper-slide a img {
    aspect-ratio: 1.5/1;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.5);
    border-radius: 25px;
  }
  .description_section h2 {
    font-size: 2.5rem;
  }
  .description_section p {
    max-width: 90vw;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=home.css.map */